@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --bg: 81 72 16;
        --text: 210 210 100;
        --accent: 174 244 226;
    }

    html,
    body {
        @apply bg-bg text-text font-body;
    }

    a {
        @apply text-accent underline hover:no-underline inline-block;
    }

    h1 {
        @apply font-heading text-accent;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-heading text-text;
    }

    img {
        @apply rounded-xl;
    }
}
