@font-face {
    font-family: 'Rowan';
    src: url('/fonts/Rowan-Semibold.woff2') format('woff2'),
        url('/fonts/Rowan-Semibold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Rowan';
    src: url('/fonts/Rowan-SemiboldItalic.woff2') format('woff2'),
        url('/fonts/Rowan-SemiboldItalic.ttf') format('ttf');
    font-weight: 600;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.woff2') format('woff2'),
        url('/fonts/Roboto-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Hack';
    src: url('/fonts/Hack-Bold.woff2') format('woff2'),
        url('/fonts/Hack-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Hack';
    src: url('/fonts/Hack-Regular.woff2') format('woff2'),
        url('/fonts/Hack-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Hack';
    src: url('/fonts/Hack-Italic.woff2') format('woff2'),
        url('/fonts/Hack-Italic.ttf') format('ttf');
    font-weight: 400;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Hack';
    src: url('/fonts/Hack-BoldItalic.woff2') format('woff2'),
        url('/fonts/Hack-BoldItalic.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
    font-display: block;
}
