@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.woff2') format('woff2'),
        url('/fonts/Poppins-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-BoldItalic.woff2') format('woff2'),
        url('/fonts/Poppins-BoldItalic.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/fonts/WorkSans-Regular.woff2') format('woff2'),
        url('/fonts/WorkSans-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
