@font-face {
    font-family: 'Rowan';
    src: url('/fonts/Rowan-Semibold.woff2') format('woff2'),
        url('/fonts/Rowan-Semibold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Rowan';
    src: url('/fonts/Rowan-SemiboldItalic.woff2') format('woff2'),
        url('/fonts/Rowan-SemiboldItalic.ttf') format('ttf');
    font-weight: 600;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.woff2') format('woff2'),
        url('/fonts/Roboto-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

/* External Fonts */
@import 'https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css';
