:root {
    --brand: #d43c29;
    --on-brand: #ffffff;

    --accent: #6f5623;
    --accent-hover: #846929;
    --accent-focus: #9a7c2e;
    --on-accent: #ffffff;

    --background: #ffffff;
    --on-background: #4d5c63;
    --heading-on-background: #000;

    --subtle: #dadde1;
    --on-subtle: #4d5c63;
    --heading-on-subtle: #000;

    --lines: #bdc6ca;
    --selection: #bdc6ca;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-on-background;
    @apply bg-background;
    @apply font-body;
    @apply text-base lg:text-lg;
    @apply leading-relaxed;
}

* {
    @apply focus:outline-none;
}

::selection {
    @apply bg-selection;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply text-heading-on-background;
    @apply font-display;
}

.row {
    @apply grid grid-cols-1 gap-8 md:grid-cols-2;
}

h1 {
    @apply text-2xl font-semibold sm:text-4xl lg:text-5xl;
    line-height: 1.2em;
}

h2 {
    @apply text-xl font-semibold sm:text-3xl;
}

h3 {
    @apply text-lg font-semibold sm:text-xl;
}

.fade-enter,
.fade-appear {
    opacity: 0;
}
.fade-exit {
    opacity: 1;
}
.fade-enter-active,
.fade-appear-active {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
    transition: opacity 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.fade-appear-active {
    transition: opacity 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.slide-enter {
    transform: translate(100px);
    opacity: 0;
}
.slide-exit {
    transform: translate(0);
    opacity: 1;
}
.slide-enter-active {
    transform: translate(0);
    opacity: 1;
}
.slide-exit-active {
    transform: translate(0);
    opacity: 0;
}
.slide-enter-active,
.slide-exit-active {
    transition: all 300ms cubic-bezier(0.4, 0.37, 0.37, 1);
}

.max-w-title {
    max-width: 1500px;
}

.hover-arrow .arrow {
    @apply transition-transform duration-100 ease-in-out;
}
.hover-arrow:hover img {
    @apply scale-105;
}
.hover-arrow:active img {
    @apply scale-100;
}
.hover-arrow:hover .arrow {
    @apply translate-x-2;
}
.hover-arrow:active .arrow {
    @apply translate-x-0;
}

.color-hover {
    @apply hover:text-accent-hover focus:text-accent-focus active:text-accent-focus;
}

/* This should be handled by tailwind but isn't sometimes */
.flex-grow {
    flex-grow: 1;
}

.link-style {
    text-decoration: none;
}
.link-style:hover {
    text-decoration: underline;
}

p a {
    text-decoration: underline;
}
p a:hover {
    text-decoration: none;
}

.blog-wrapper {
    max-width: unset;
}

.blog-wrapper > :not(pre) {
    max-width: 750px;
}

.blog-wrapper pre {
    max-width: 900px;
}

/* Prism Theme */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    @apply text-gray-700;
}

.token.punctuation {
    @apply text-gray-700;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    @apply text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    @apply text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    @apply text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
    @apply text-blue-500;
}

.token.function,
.token.class-name {
    @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
    @apply text-yellow-500;
}

code[class*='language-'],
pre[class*='language-'] {
    @apply text-gray-800;
}

pre::-webkit-scrollbar {
    display: none;
}

pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.rehype-code-title {
    @apply px-5 py-3 font-mono text-sm font-bold text-gray-800 bg-gray-200 border border-b-0 border-gray-200 rounded-t-lg;
}

.rehype-code-title + pre {
    @apply mt-0 rounded-t-none;
}

.highlight-line {
    @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-blue-500;
}
