:root {
    --brand: #d43c29;
    --on-brand: #ffffff;

    --accent: #6f5623;
    --accent-hover: #846929;
    --accent-focus: #9a7c2e;
    --on-accent: #ffffff;

    --background: #ffffff;
    --on-background: #4d5c63;
    --heading-on-background: #000;

    --subtle: #dadde1;
    --on-subtle: #4d5c63;
    --heading-on-subtle: #000;

    --lines: #bdc6ca;
    --selection: #bdc6ca;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-on-background;
    @apply bg-background;
    @apply font-body;
    @apply text-base lg:text-lg;
    @apply leading-relaxed;
}

* {
    @apply focus:outline-none;
}

::selection {
    @apply bg-selection;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply text-heading-on-background;
    @apply font-display;
}

.row {
    @apply grid grid-cols-1 gap-8 md:grid-cols-2;
}

h1 {
    @apply text-2xl font-semibold sm:text-4xl lg:text-5xl;
    line-height: 1.2em;
}

h2 {
    @apply text-xl font-semibold sm:text-3xl;
}

h3 {
    @apply text-lg font-semibold sm:text-xl;
}

.hover-arrow .arrow {
    @apply transition-transform duration-100 ease-in-out;
}
.hover-arrow:hover img {
    @apply scale-105;
}
.project.hover-arrow:hover img {
    @apply translate-y-8 scale-110;
}
.hover-arrow:hover:active img {
    @apply scale-100;
}
.hover-arrow:hover .arrow {
    @apply translate-x-2;
}
.hover-arrow:active .arrow {
    @apply translate-x-0;
}

/* Stop the nextjs image from having overflow hidden */
.project.hover-arrow > div > span {
    @apply overflow-visible !important;
}

.color-hover {
    @apply hover:text-accent-hover focus:text-accent-focus active:text-accent-focus;
}

.link-style {
    text-decoration: none;
}
.link-style:hover {
    text-decoration: underline;
}

p a {
    text-decoration: underline;
}
p a:hover {
    text-decoration: none;
}

.blog-wrapper {
    max-width: unset;
}

.blog-wrapper > :not(pre) {
    max-width: 750px;
}

.blog-wrapper pre {
    max-width: 900px;
}
