/**
 * CSS Styles for code highlighting.
 * Feel free to customize token styles 
 * by copying from a prismjs compatible theme:
 * https://github.com/PrismJS/prism-themes
 */

pre::-webkit-scrollbar {
    display: none;
}

.prose pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Code title styles */
.remark-code-title {
    @apply rounded-t bg-neutral-700 px-5 py-3 font-mono text-sm font-bold text-neutral-200;
}

.remark-code-title + div > pre {
    @apply mt-0 rounded-t-none;
}

/* General line styles */
.code-line {
    @apply -mx-4 block border-l-4 border-transparent pl-4 pr-4;
}

/* Diff styles */
/* .code-line.inserted { */
/*     @apply bg-green-500 bg-opacity-20; */
/* } */

/* .code-line.deleted { */
/*     @apply bg-red-500 bg-opacity-20; */
/* } */

/* Highlight line styles */
.highlight-line {
    /* @apply -mx-4 border-l-4 border-neutral-200 bg-neutral-700 bg-opacity-50; */
    @apply -mx-4 border-l-4 bg-opacity-50;
    border-color: #3c526d5f;
    background: #3c526d5f;
}

.highlight-line.line-number::before {
    @apply -ml-2;
}

/* Line number styles */
.line-number::before {
    @apply mr-4 -ml-2 inline-block w-4 text-right;
    color: #8da1b9da;
    content: attr(line);
}

/* Token styles */
/**
 * Coldark Theme for Prism.js
 * Theme variation: Dark
 * Tested with HTML, CSS, JS, JSON, PHP, YAML, Bash script
 * @author Armand Philippot <contact@armandphilippot.com>
 * @homepage https://github.com/ArmandPhilippot/coldark-prism
 * @license MIT
 *
 * Tweaked by Daniel Westbrook
 */
code[class*='language-'],
pre[class*='language-'] {
    color: #e3eaf2;
    background: none;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre.code-highlight::-moz-selection,
pre.code-highlight ::-moz-selection,
code.code-highlight::-moz-selection,
code.code-highlight ::-moz-selection {
    background: #3c526d;
}

pre.code-highlight::selection,
pre.code-highlight ::selection,
code.code-highlight::selection,
code.code-highlight ::selection {
    background: #3c526d;
}

/* Code blocks */
:not(pre) > code[class*='language-'],
pre[class*='language-'],
/* Fix for no language */
.prose pre {
    background: #111b27;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #8da1b9;
}

.token.punctuation {
    color: #e3eaf2;
}

.token.delimiter.important,
.token.selector .parent,
.token.tag,
.token.tag .token.punctuation {
    color: #66cccc;
}

.token.attr-name,
.token.boolean,
.token.boolean.important,
.token.number,
.token.constant,
.token.selector .token.attribute {
    color: #e6d37a;
}

.token.class-name,
.token.key,
.token.parameter,
.token.property,
.token.property-access,
.token.variable {
    color: #6cb8e6;
}

.token.attr-value,
.token.inserted,
.token.color,
.token.selector .token.value,
.token.string,
.token.string .token.url-link {
    color: #91d076;
}

.token.builtin,
.token.keyword-array,
.token.package,
.token.regex {
    color: #f4adf4;
}

.token.function,
.token.selector .token.class,
.token.selector .token.id {
    color: #c699e3;
}

.token.atrule .token.rule,
.token.combinator,
.token.keyword,
.token.operator,
.token.pseudo-class,
.token.pseudo-element,
.token.selector,
.token.unit {
    color: #e9ae7e;
}

.token.deleted,
.token.important {
    color: #cd6660;
}

.token.keyword-this,
.token.this {
    color: #6cb8e6;
}

.token.important,
.token.keyword-this,
.token.this,
.token.bold {
    font-weight: bold;
}

.token.delimiter.important {
    font-weight: inherit;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.language-markdown .token.title,
.language-markdown .token.title .token.punctuation {
    color: #6cb8e6;
    font-weight: bold;
}

.language-markdown .token.blockquote.punctuation {
    color: #f4adf4;
}

.language-markdown .token.code {
    color: #66cccc;
}

.language-markdown .token.hr.punctuation {
    color: #6cb8e6;
}

.language-markdown .token.url .token.content {
    color: #91d076;
}

.language-markdown .token.url-link {
    color: #e6d37a;
}

.language-markdown .token.list.punctuation {
    color: #f4adf4;
}

.language-markdown .token.table-header {
    color: #e3eaf2;
}

.language-json .token.operator {
    color: #e3eaf2;
}

.language-scss .token.variable {
    color: #66cccc;
}

/* overrides color-values for the Diff Highlight plugin
 * https://prismjs.com/plugins/diff-highlight/
 */
/* pre.diff-highlight > code .token.token.deleted:not(.prefix), */
/* pre > code.diff-highlight .token.token.deleted:not(.prefix) { */
/*     background-color: #cd66601f; */
/* } */

/* pre.diff-highlight > code .token.token.inserted:not(.prefix), */
/* pre > code.diff-highlight .token.token.inserted:not(.prefix) { */
/*     background-color: #91d0761f; */
/* } */
